{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning border-bottom">SKILLS</h1>
    </div>
    <div class="row text-white" style="margin-left: 2%;margin-right: 2%; padding-left: 5%;padding-right: 5%;">
        <div class="col-sm-5">
            <h4 class="mt-5">HTML/CSS</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'>100%</div>
            </div>

        </div>
        <div class="col-sm-5 offset-sm-2">
            <h4 class="mt-5">JavaScript</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow='75' aria-valuemin='0' aria-valuemax='100'>75%</div>
            </div>

        </div>
        <div class="col-sm-5">
            <h4 class="mt-5">Data Structures & Algos</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%;" aria-valuenow='70' aria-valuemin='0' aria-valuemax='100'>70%</div>
            </div>

        </div>
        <div class="col-sm-5 offset-sm-2">
            <h4 class="mt-5">Android Studio</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%" aria-valuenow='65' aria-valuemin='0' aria-valuemax='100'>65%</div>
            </div>

        </div>
        <div class="col-sm-5">
            <h4 class="mt-5">Python</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar bg-info progress-bar-animated progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'>100%</div>
            </div>

        </div>
        <div class="col-sm-5 offset-sm-2">
            <h4 class="mt-5">Java</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 50%" aria-valuenow='50' aria-valuemin='0' aria-valuemax='100'>50%</div>
            </div>

        </div>
        <div class="col-sm-5">
            <h4 class="mt-5">SQL</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar " role="progressbar" style="width: 60%" aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'>60%</div>
            </div>

        </div>
        <div class="col-sm-5 offset-sm-2">
            <h4 class="mt-5">Django</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 65%" aria-valuenow='65' aria-valuemin='0' aria-valuemax='100'>65%</div>
            </div>

        </div>
        <div class="col-sm-5">
            <h4 class="mt-5">Data Analysis & Machine Learning</h4>
            <div class="progress" style="height: 13%;">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'>60%</div>
            </div>

        </div>
        
    </div>

{% endblock content %}