{% extends 'core/base.html'%}
{% block content%}
    <div class="text-white border-bottom mt-5" style="margin-left: 5%;">
        <h1 class="text-info">Contact</h1>
    </div>
    
    <div class="col-sm-9 text-white" style="margin-left: 12%; margin-top: 5%;" >
        <ul class="list-unstyled">
            <li>
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Siddhartha Vihar Ghaziabad, Uttar Pradesh, India</p>
            </li>
            <li>
                <i class="fas fa-phone fa-2x"></i>
                <p>9599738216</p>
            </li>
            <li>
                <i class="fas fa-envelope fa-2x"></i>
                <p>manijoshi2000@gmail.com</p>
            </li>
        </ul>
    </div>
    <div class="text-center text-white" style="margin-left: 30%; margin-top: 15%;" >
        <ul class="list-unstyled" style="display: flex;">
            <li >
                <a href="https://github.com/manijoshi" target="_blank" ><i class="fab fa-github-square mx-3 fa-2x" style="color: rgb(131, 211, 85);" ></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/in.com/in/manisha-joshi-a01b18185/" target="_blank"><i class="fab fa-linkedin mx-3 fa-2x" style="color: rgb(131, 211, 85);"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/_Emjoshi" target="_blank"><i class="fab fa-twitter mx-3 fa-2x" style="color: rgb(131, 211, 85);"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook mx-3 fa-2x" style="color: rgb(131, 211, 85);"></i></a>
            </li>

        </ul>
    </div>
{% endblock content%}